{% extends 'Accounts/layout.html'%}
{% load static %}

{% block title %}
SecureVault
{% endblock%}

{% block css %}
{% endblock%}

{% block content %}
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4  pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up" data-aos-delay="200">

                <h1>Step 1</h1>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>

                <section id="contact" class="contact">
                    {% if message %}
                    {% if "Success" in message %}
                    <div class="alert alert-success" role="alert">{{message}}</div>
                    {% elif "Error" in message %}
                    <div class="alert alert-danger" role="alert">{{message}}</div>
                    {% endif %}
                    {% endif %}
                    <div class="container" data-aos="fade-up">
                        <div class="col-lg-8 mt-5 mt-lg-0 d-flex align-items-stretch">

                            <div class="text-center">
                                <!-- <button type="submit">Login</button> -->
                                <a href="{% url 'step2' %}" class="btn-get-started ">Step2</a>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                <img src="{% static 'img/hero-img.png' %}" class="img-fluid animated" alt="">
            </div>

        </div>
    </div>

</section>


{% endblock%}


{% block js %}
{% endblock%}